<a href="https://colab.research.google.com/github/6a6ak/Python_Snippet/blob/main/Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dates=pd.date_range("20220918", periods=12)
dates

DatetimeIndex(['2022-09-18', '2022-09-19', '2022-09-20', '2022-09-21',
               '2022-09-22', '2022-09-23', '2022-09-24', '2022-09-25',
               '2022-09-26', '2022-09-27', '2022-09-28', '2022-09-29'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df= pd.DataFrame (np.random.randn(12,4), index=dates, columns=["A", "B", "C","D"])
df

                   A         B         C         D
2022-09-18 -0.262770 -0.675229  0.212336 -1.077754
2022-09-19 -2.408737  1.234903 -0.707107 -0.596287
2022-09-20  0.117968  0.339698 -0.137940 -0.083361
2022-09-21  1.719690  0.837565 -0.008158 -0.347233
2022-09-22 -1.863993  2.349246 -0.813608 -0.488633
2022-09-23 -0.627154  0.471131  1.305665  0.214320
2022-09-24  0.976902 -2.399359  0.791650  0.742569
2022-09-25  0.851048  1.163239 -1.532980 -0.420920
2022-09-26 -0.532029 -0.890021 -1.490881 -0.915747
2022-09-27  0.476120 -0.326417  0.555832 -0.933864
2022-09-28 -0.430775  0.230255  0.610786  0.328837
2022-09-29  1.039946  1.004731 -0.177013  0.490120

In [ ]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [ ]:
df.A

2022-09-18   -0.262770
2022-09-19   -2.408737
2022-09-20    0.117968
2022-09-21    1.719690
2022-09-22   -1.863993
2022-09-23   -0.627154
2022-09-24    0.976902
2022-09-25    0.851048
2022-09-26   -0.532029
2022-09-27    0.476120
2022-09-28   -0.430775
2022-09-29    1.039946
Freq: D, Name: A, dtype: float64

In [ ]:
df.head(2) #shows 2 line of data

                   A         B         C         D
2022-09-18 -0.262770 -0.675229  0.212336 -1.077754
2022-09-19 -2.408737  1.234903 -0.707107 -0.596287

In [ ]:
df.tail()

                   A         B         C         D
2022-09-25  0.851048  1.163239 -1.532980 -0.420920
2022-09-26 -0.532029 -0.890021 -1.490881 -0.915747
2022-09-27  0.476120 -0.326417  0.555832 -0.933864
2022-09-28 -0.430775  0.230255  0.610786  0.328837
2022-09-29  1.039946  1.004731 -0.177013  0.490120

In [ ]:
df.describe() #count: ,mean, std->standard error,min->minimum

               A          B          C          D
count  12.000000  12.000000  12.000000  12.000000
mean   -0.078649   0.278312  -0.115952  -0.257329
std     1.209481   1.231425   0.888429   0.597140
min    -2.408737  -2.399359  -1.532980  -1.077754
25%    -0.555810  -0.413620  -0.733732  -0.676152
50%    -0.072401   0.405414  -0.073049  -0.384077
75%     0.882512   1.044358   0.569570   0.242949
max     1.719690   2.349246   1.305665   0.742569

In [ ]:
df.mean()

A   -0.078649
B    0.278312
C   -0.115952
D   -0.257329
dtype: float64

In [ ]:
df.mean()

A   -0.078649
B    0.278312
C   -0.115952
D   -0.257329
dtype: float64

In [ ]:
df["A"].mean()

-0.07864851129072901

In [ ]:
df[6:8]

                   A         B        C         D
2022-09-24  0.976902 -2.399359  0.79165  0.742569
2022-09-25  0.851048  1.163239 -1.53298 -0.420920

In [ ]:
df.T #Transpose

,2022-09-18,2022-09-19,2022-09-20,2022-09-21,2022-09-22,2022-09-23,2022-09-24,2022-09-25,2022-09-26,2022-09-27,2022-09-28,2022-09-29
A,-0.262770,-2.408737,0.117968,1.719690,-1.863993,-0.627154,0.976902,0.851048,-0.532029,0.476120,-0.430775,1.039946
B,-0.675229,1.234903,0.339698,0.837565,2.349246,0.471131,-2.399359,1.163239,-0.890021,-0.326417,0.230255,1.004731
C,0.212336,-0.707107,-0.137940,-0.008158,-0.813608,1.305665,0.791650,-1.532980,-1.490881,0.555832,0.610786,-0.177013
D,-1.077754,-0.596287,-0.083361,-0.347233,-0.488633,0.214320,0.742569,-0.420920,-0.915747,-0.933864,0.328837,0.490120